AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
BUCKET_AWS_S3=<BUCKET_AWS_S3>
ENDPOINT_SPACE=<ENDPOINT_SPACE>
KEY_SECRET_JWT=<KEY_SECRET_JWT>
KEY_SECRET_CRYPTO=<KEY_SECRET_CRYPTO>
DB_HOST=<DB_HOST>
DB_NAME=<DB_NAME>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>