AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
BUCKET_AWS_S3=<BUCKET_AWS_S3>
ENDPOINT_SPACE=<ENDPOINT_SPACE>
KEY_SECRET_JWT=<KEY_SECRET_JWT>
KEY_SECRET_CRYPTO=<KEY_SECRET_CRYPTO>
PORT_EMAIL=<PORT_EMAIL>
HOST_EMAIL=<HOST_EMAIL>
USER_EMAIL=<USER_EMAIL>
PASSWORD_EMAIL=<PASSWORD_EMAIL>
DB_HOST=<DB_HOST>
DB_NAME=<DB_NAME>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>