AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

BUCKET_AWS_S3=

ENDPOINT_SPACE=

KEY_SECRET_JWT=
KEY_SECRET_CRYPTO=

KEY_VIMEO_ID=
KEY_VIMEO_SECRET=
KEY_VIMEO_TOKEN=

PATH_IMAGES=
PATH_MATERIAL=

PORT_EMAIL=
HOST_EMAIL=
USER_EMAIL=
PASSWORD_EMAIL=

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=