<div style="border:1px solid #d9d9d9;background:white;box-sizing: border-box;margin:0px auto;max-width:600px; font-family:arial;color:#222!important;font-size:16px;line-height:1.6;">
    <div style="width: 100%; box-sizing: border-box;">
        {{> header }}
    </div>
    <div style="width: 100%; box-sizing: border-box; padding: 20px;">
        {{{ body }}}
    </div>
    <div style="width: 100%; box-sizing: border-box;">
        {{> footer }}
    </div>
</div>