<div
    style="font-family:arial;font-size:16px;line-height:1.6;color:#222!important;max-width:600px;">
    <div style="width: 100%;">
        {{> header }}
    </div>
    <div style="width: 100%;">
        {{{ body }}}
    </div>
    <div style="width: 100%;">
        {{> footer }}
    </div>
</div>