<div class="container-general" style="width: 100%;">
    <h1 class="title" style="width:100%;padding: 0;margin: 0;">Olá, {{name}}.</h1>

    <h3 class="subtitle" style="width: 100%;">Esqueceu sua senha?</h3>

    <p class="description" style="width: 100%;">Não se preocupe. Abaixo encontra-se a solução para você.</p>

    <div class="box-button" style="width: 100%;display: flex;">
        <a href="{{link}}"
            style="cursor: pointer;border:1px solid;border-color:#ff8400;background:#ff8400;margin:0;padding: 8px 16px;font-weight:bold;font-size:14px;border-radius:8px;color:#fff;text-transform:uppercase;text-decoration:none;text-align:center;">
            Alterar senha
        </a>
    </div>
</div>