<div class="container-general" style="width: 100%;">
    <div style="width: 100%;">
        <p class="subtitle" style="width: 100%;">
            Olá, para você baixar o arquivo da modelagem do projeto <b style="color:#ff8400 !important;">{{name}}</b> ensinados no YouTube é só clicar no botão abaixo!
        </p>
    </div>

    <div style="width: 100%;">
        <p class="subtitle" style="width: 100%;">
            O arquivo tem informações para auxiliá-lo na impressão...
        </p>
    </div>

    <div class="box-button" style="width: 100%;display: flex;">
        <a
            href="{{link}}"
            style="cursor: pointer;border:1px solid;border-color:#ff8400;background:#ff8400;margin:0;padding: 8px 16px;font-weight:bold;font-size:14px;border-radius:8px;color:#fff;text-transform:uppercase;text-decoration:none;text-align:center;"
        >
            Acessar modelagem
        </a>
    </div>
</div>