<div class="container-general" style="width: 100%;">
    <div style="width: 100%;">
        <h3 style="width: 100%;">
            Olá, seja muito bem vindo a minha plataforma de CURSOS ONLINE!
        </h3>
    </div>

    <div style="width: 100%;">
        <p style="width: 100%;">
            Obrigado por você se cadastrar.
        </p>
    </div>
</div>