<div style="width: 100%;">
    <div style="width: 100%;">
        <p style="width: 100%;">Qualquer dúvida, estou a disposição!</p>
    </div>

    <div style="width: 100%;">
        <p style="width: 100%;">Boas Criações!</p>
    </div>

    <div style="width: 100%;font-size: 13px;">
        <p style="width:100%;margin: 0;">Rafael Bernardes</p>
        <p style="width:100%;margin: 0;">Designer de Bolsas</p>
        <p style="width:100%;margin: 0;">(51) 989513090</p>
    </div>
    <div style="width: 100%;">
        <img alt="Footer" src="https://rafaspaceasws3.s3.amazonaws.com/footer-email.jpg"
            style="width: 100%;max-width:100%;">
    </div>
</div>