<div style="width: 100%;">
    <div style="width: 100%; box-sizing: border-box; padding: 20px;">
        <div style="width: 100%; box-sizing: border-box;">
            <p style="width: 100%;">Qualquer dúvida, estou a disposição!</p>
        </div>

        <div style="width: 100%; box-sizing: border-box;">
            <p style="width: 100%;">Boas Criações!</p>
        </div>

        <div style="width: 100%; box-sizing: border-box;font-size: 13px;">
            <p style="width:100%;margin: 0;">Rafael Bernardes</p>
            <p style="width:100%;margin: 0;">Designer de Bolsas</p>
            <p style="width:100%;margin: 0;">(51) 989513090</p>
        </div>
    </div>
    <div style="width: 100%;">
        <img alt="Footer" src="https://api.rbernardes.com.br/image/footer-email.jpg"
            style="width: 100%;max-width:100%;">
    </div>
</div>